# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend-dice-counter/node_modules
/frontend-dice-counter/.idea
#/.pnp
#.pnp.js
#
## testing
#/coverage
#
## production
#/build
#
## misc
#.DS_Store
#.env.local
#.env.development.local
#.env.test.local
#.env.production.local
#
#npm-debug.log*
#yarn-debug.log*
#yarn-error.log*

/backend-dice-counter/.vs/
/backend-dice-counter/*.sln
backend-dice-counter/backend-dice-counter/[Bb]in/
backend-dice-counter/backend-dice-counter/[Oo]bj/
backend-dice-counter/backend-dice-counter/*.user